.App {
  text-align: center;
  margin-top: 40px;
}

h1 {
  font-size: 24px;
}

.AddTask {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 5px;
  margin-right: 10px;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100%;
}
li{
  width: 500px;
  display: flex;
  justify-content: space-between;
}



.TaskList {
width: 500px;
margin: 0 auto ;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.completed {
  text-decoration: line-through;
}

.TaskActions {
  margin-top: 10px;
}

.Filters {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Filters button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 20px;
}

.addBtn{
background-color: #0084f5;
border: none;
cursor: pointer;
padding: 10px 20px;
border-radius: 5px;

}
.btnDel{
  background-color: #ff3041;
border: none;
cursor: pointer;
padding: 10px 20px;
border-radius: 5px;
 }
.Filters button.active {
  font-weight: bold;
  color: #0084f5;
  border-bottom: 2px solid #0084f5;
}
